Based on a tutorial at

https://www.shanelynn.ie/merge-join-dataframes-python-pandas-index-1/

In [1]:
import pandas as pd
import numpy as np

“use_id” is shared between the user_usage and user_device

probably: 
* for every user_id there are N use_ids

“device” column of user_device and “Model” column of the devices dataset contain common codes

In [5]:
user_usage = pd.read_csv("https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_usage.csv", sep=',')
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [6]:
user_device = pd.read_csv("https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_device.csv")
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [13]:
android_devices = pd.read_csv("https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/android_devices.csv")

In [14]:
android_devices.head()

  Retail Branding Marketing Name    Device                      Model
0             NaN            NaN    AD681H  Smartfren Andromax AD681H
1             NaN            NaN     FJL21                      FJL21
2             NaN            NaN       T31              Panasonic T31
3             NaN            NaN  hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A   OC1020A                    OC1020A

---
We would like to determine if the usage patterns for users differ between different devices. For example, do users using Samsung devices use more call minutes than those using  LG devices? This is a toy problem given the small sample size in these dataset, but is a perfect example of where merges are required.

need to merge user_usage with model information

Test the assertion that there for every use_id in A there is the use_id in B

In [21]:
len( user_usage.use_id.unique() )

240

In [22]:
len(user_usage)

240

So use_id is a unique key in user_usage.
Is it also unique in user_device?

In [26]:
user_device.use_id.value_counts().max()

1

Yes, it is, because every value appears at most once there.

So is there a match of use_ids between the two tables for every value of use_id on either side?
If we do inner join on use_id and it has as many rows as the input tables, it means there's no use_id on either side for which there wouldn't be a match on the other side. Is this true? What if there are 50 use_ids on the left, 50 use_ids on the right, 5 are on the left with no match on the right. Then there would be only 45 rows in the result. So yeah, that should work.

In [28]:
m1 = pd.merge(left=user_usage, right=user_device, how='inner', on='use_id')

In [30]:
len(user_usage), len(user_device), len(m1)

(240, 272, 159)

OK, so there are differences in use_id. There are only 159 matches. Which ones are they?

use_ids on the left with no match on the right:

In [49]:
m_outer_join = pd.merge(left=user_usage, right=user_device, how='outer', on='use_id', indicator=True)
m_outer_join[m_outer_join._merge=='left_only'][['use_id', '_merge']].count()

use_id    81
_merge    81
dtype: int64

In [51]:
m_outer_join[m_outer_join._merge=='right_only'][['use_id', '_merge']].count()

use_id    113
_merge    113
dtype: int64

In [53]:
m_outer_join[m_outer_join._merge=='both'][['use_id', '_merge']].count()

use_id    159
_merge    159
dtype: int64

In [58]:
81+113+159 # left_only + right_only + both

353

In [59]:
240+272-159 # left + right - both

353

So, there are use_ids on the left with no match on the right as well as use_ids on the right with no match on the left.

Assertion: there is a 1:N relationship in table user_device between user_id and use_id. For each use_id there is exactly one user_id. 
How do we verify this assertion?
We might look at multiindex, but that's just for illustration:

In [70]:
user_device.set_index(['user_id', 'use_id']).head(12)

               platform  platform_version     device  use_type_id
user_id use_id
26980   22782       ios              10.2  iPhone7,2            2
29628   22783   android               6.0    Nexus 5            3
28473   22784   android               5.1   SM-G903F            1
15200   22785       ios              10.2  iPhone7,2            3
28239   22786   android               6.0  ONE E1003            1
12921   22787   android               4.3   GT-I9505            1
28714   22788   android               6.0   SM-G930F            1
        22789   android               6.0   SM-G930F            1
29592   22790   android               5.1      D2303            1
28775   22791       ios              10.2  iPhone6,2            3
28217   22792   android               5.1   SM-G361F            1
        22793   android               5.1   SM-G361F            1

Finding rows in a Pandas DataFrame with columns that violate a one-to-one mapping

https://stackoverflow.com/questions/24005064/finding-rows-in-a-pandas-dataframe-with-columns-that-violate-a-one-to-one-mappin

In [88]:
g = user_device[['use_id', 'user_id']].groupby(by = ['user_id'])
a = g.transform(lambda x: len(x.unique()))

I don't understand this.

Let's do the merge

In [119]:
m = pd.merge(left=user_usage, right=user_device, how = 'left', on='use_id', indicator=True)

In [103]:
for i, r in user_usage.iterrows():
    if not (user_usage.index[i]==m.index[i]):
        print('not equal:', i)

In [106]:
m

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id,_merge
0,21.97,4.82,1557.33,22787,12921.0,android,4.3,GT-I9505,1.0,both
1,1710.08,136.88,7267.55,22788,28714.0,android,6.0,SM-G930F,1.0,both
2,1710.08,136.88,7267.55,22789,28714.0,android,6.0,SM-G930F,1.0,both
3,94.46,35.17,519.12,22790,29592.0,android,5.1,D2303,1.0,both
4,71.59,79.26,1557.33,22792,28217.0,android,5.1,SM-G361F,1.0,both
5,71.59,79.26,1557.33,22793,28217.0,android,5.1,SM-G361F,1.0,both
6,71.59,79.26,519.12,22794,28217.0,android,5.1,SM-G361F,1.0,both
7,71.59,79.26,519.12,22795,28217.0,android,5.1,SM-G361F,1.0,both
8,30.92,22.77,3114.67,22799,29643.0,android,6.0,ONEPLUS A3003,1.0,both
9,69.80,14.70,25955.55,22801,10976.0,android,4.4,GT-I9505,1.0,both
10,554.41,150.06,3114.67,22804,29645.0,android,6.0,SM-G935F,1.0,both
11,189.10,24.08,519.12,22805,29646.0,android,4.2,GT-I9195,1.0,both
12,283.30,107.47,15573.33,22806,21615.0,android,6.0,A0001,1.0,both
13,324.34,92.52,519.12,22808,29065.0,android,6.0,SM-G900F,1.0,both
14,797.06,7.67,519.12,22813,23415.0,android,4.4,HTC Desire 510,1.0,both
15,797.06,7.67,15573.33,22814,23415.0,android,4.4,HTC Desire 510,1.0,both
16,797.06,7.67,15573.33,22815,23415.0,android,4.4,HTC Desire 510,1.0,both
17,797.06,7.67,15573.33,22816,23415.0,android,4.4,HTC Desire 510,1.0,both
18,797.06,7.67,15573.33,22817,23415.0,android,4.4,HTC Desire 510,1.0,both
19,78.80,327.33,10382.21,22819,29651.0,android,4.4,HTC One mini 2,1.0,both
20,78.80,327.33,15573.33,22820,29651.0,android,4.4,HTC One mini 2,1.0,both
21,78.80,327.33,15573.33,22822,29651.0,android,4.4,HTC One mini 2,1.0,both
22,164.10,192.64,3114.67,22823,29652.0,android,6.0,SM-G900F,1.0,both
23,208.26,91.76,5191.12,22824,28953.0,android,6.0,SM-G900F,1.0,both
24,681.44,47.35,1271.39,22829,29653.0,ios,10.1,"iPhone7,2",2.0,both
25,324.27,91.50,519.12,22830,29065.0,android,6.0,SM-G900F,1.0,both
26,85.97,26.94,407.01,22831,6541.0,android,4.1,GT-I8190N,1.0,both
27,244.88,105.95,1557.33,22832,29295.0,android,6.0,D5803,1.0,both
28,135.09,42.02,5191.12,22833,24847.0,android,6.0,E6653,1.0,both
29,57.49,16.73,15573.33,22839,29655.0,android,6.0,A0001,1.0,both
...,...,...,...,...,...,...,...,...,...,...
210,677.02,101.86,1132.23,24318,NaN,NaN,NaN,NaN,NaN,left_only
211,677.02,101.86,1132.23,24319,NaN,NaN,NaN,NaN,NaN,left_only
212,583.73,216.52,1441.29,24332,NaN,NaN,NaN,NaN,NaN,left_only
213,583.73,216.52,1441.29,24333,NaN,NaN,NaN,NaN,NaN,left_only
214,333.11,70.91,2814.64,24399,NaN,NaN,NaN,NaN,NaN,left_only
215,677.02,101.86,1132.23,24436,NaN,NaN,NaN,NaN,NaN,left_only
216,677.02,101.86,1132.23,24437,NaN,NaN,NaN,NaN,NaN,left_only
217,677.02,101.86,1132.23,24438,NaN,NaN,NaN,NaN,NaN,left_only
218,677.02,101.86,1132.23,24439,NaN,NaN,NaN,NaN,NaN,left_only
219,463.05,165.89,362.02,24445,NaN,NaN,NaN,NaN,NaN,left_only
220,205.40,42.08,1045.39,24451,NaN,NaN,NaN,NaN,NaN,left_only
221,205.40,42.08,1045.39,24455,NaN,NaN,NaN,NaN,NaN,left_only
222,436.37,180.33,415.10,24466,NaN,NaN,NaN,NaN,NaN,left_only
223,583.73,216.52,1441.29,24545,NaN,NaN,NaN,NaN,NaN,left_only
224,512.48,61.63,4565.33,24601,NaN,NaN,NaN,NaN,NaN,left_only
225,291.82,109.26,4527.83,24602,NaN,NaN,NaN,NaN,NaN,left_only
226,234.70,167.39,2609.20,24647,NaN,NaN,NaN,NaN,NaN,left_only
227,291.82,109.26,4527.83,24653,NaN,NaN,NaN,NaN,NaN,left_only
228,1083.14,52.03,6215.01,24728,NaN,NaN,NaN,NaN,NaN,left_only
229,248.56,133.07,2004.88,24761,NaN,NaN,NaN,NaN,NaN,left_only
230,583.73,216.52,1441.29,24764,NaN,NaN,NaN,NaN,NaN,left_only
231,74.47,47.03,860.88,24766,NaN,NaN,NaN,NaN,NaN,left_only
232,74.47,47.03,860.88,24767,NaN,NaN,NaN,NaN,NaN,left_only
233,260.66,68.44,896.96,24885,NaN,NaN,NaN,NaN,NaN,left_only
234,558.52,70.64,3334.28,24963,NaN,NaN,NaN,NaN,NaN,left_only
235,260.66,68.44,896.96,25008,NaN,NaN,NaN,NaN,NaN,left_only
236,97.12,36.50,2815.00,25040,NaN,NaN,NaN,NaN,NaN,left_only
237,355.93,12.37,6828.09,25046,NaN,NaN,NaN,NaN,NaN,left_only
238,632.06,120.46,1453.16,25058,NaN,NaN,NaN,NaN,NaN,left_only
239,488.70,906.92,3089.85,25220,NaN,NaN,NaN,NaN,NaN,left_only

This is a fantastic command

In [114]:
m_outer_join[m_outer_join._merge=='both'][['use_id', '_merge']].count()

use_id    159
_merge    159
dtype: int64

This one is how many values are in common. 
It's also the length of the inner join.

In [115]:
user_usage['use_id'].isin(user_device['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

In [116]:
user_device['use_id'].isin(user_usage['use_id']).value_counts()

True     159
False    113
Name: use_id, dtype: int64

In [118]:
m.columns

Index(['outgoing_mins_per_month', 'outgoing_sms_per_month', 'monthly_mb',
       'use_id', 'user_id', 'platform', 'platform_version', 'device',
       'use_type_id', '_merge'],
      dtype='object')

In [128]:
m2 = pd.merge(left = m, right = android_devices[['Retail Branding', 'Model']], 
              left_on='device', right_on = 'Model',
             how = 'left')
m2.sort_values(by='use_id', ascending=True, inplace=True)

In [143]:
m2.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id,_merge,manufacturer,Model
0,21.97,4.82,1557.33,22787,12921.0,android,4.3,GT-I9505,1.0,both,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,28714.0,android,6.0,SM-G930F,1.0,both,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,28714.0,android,6.0,SM-G930F,1.0,both,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,29592.0,android,5.1,D2303,1.0,both,Sony,D2303
4,71.59,79.26,1557.33,22792,28217.0,android,5.1,SM-G361F,1.0,both,Samsung,SM-G361F

In [135]:
m2.rename(columns={'Retail Branding':'manufacturer'}, inplace=True)

In [136]:
m2.columns

Index(['outgoing_mins_per_month', 'outgoing_sms_per_month', 'monthly_mb',
       'use_id', 'user_id', 'platform', 'platform_version', 'device',
       'use_type_id', '_merge', 'manufacturer', 'Model'],
      dtype='object')

In [138]:
m3 = m2[['outgoing_mins_per_month', 'outgoing_sms_per_month', 'monthly_mb',
       'use_id', 'platform', 'device', 'manufacturer', 'Model']]
m3.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

In [142]:
m3.groupby('manufacturer').agg({
    'outgoing_mins_per_month':"mean",
    'outgoing_sms_per_month':"mean",
    'monthly_mb':'mean',
    'use_id':"count"
})

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id
manufacturer,,,,
HTC,299.842955,93.059318,5144.077955,44
Huawei,81.526667,9.500000,1561.226667,3
LGE,111.530000,12.760000,1557.330000,2
Lava,60.650000,261.900000,12458.670000,2
Lenovo,215.920000,12.930000,1557.330000,2
Motorola,95.127500,65.666250,3946.500000,16
OnePlus,354.855000,48.330000,6575.410000,6
Samsung,191.010093,92.390463,4017.318889,108
Sony,177.315625,40.176250,3212.000625,16
Vodafone,42.750000,46.830000,5191.120000,1
ZTE,42.750000,46.830000,5191.120000,1